<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
        <rules>
            <rule name="RewriteURLForOData" patternSyntax="Wildcard" stopProcessing="true">
                <match url="*.svc*" />
                <action type="Rewrite" url="Index.php" />
            </rule>
        </rules>
    </rewrite>
        <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>
